# SF Salaries Exercise

# Data analysis

In [4]:
import pandas as pd
import numpy as np

# Read Salaries.csv as a dataframe called sal

In [5]:
sal=pd.read_csv("Salaries.csv")

# Check the head of the DataFrame.

In [6]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

# Which features contain blank, null or empty values?

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

# the average of  BasePay

In [9]:
sal['BasePay'].mean()

66325.44884050643

# the highest amount of OvertimePay in the dataset

In [10]:
#the highest amount of OvertimePay in the dataset
sal['OvertimePay'].max()

245131.88

# the job title of  JOSEPH DRISCOLL ,and we  Use all caps, otherwise we may get an answer that don't match up

In [11]:
sal[sal['EmployeeName']=="JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# what JOSEPH DRISCOLL make (including benefits)

In [12]:
#JOSEPH DRISCOLL make (including TotalPayBenefits )
sal[sal['EmployeeName']=="JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

# the name of highest paid person (including benefits)

In [13]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [14]:
#highest = sal[sal['EmployeeName'] & sal['TotalPayBenefits'].max()]
#the name of highest paid person (TotalPayBenefits )
##get the location of the highest TotalPayBenefits 
sal.iloc[0:1].max()

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                      None
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                         None
Agency                                               San Francisco
Status                                                        None
dtype: object

# the name of lowest paid person (including benefits)

In [16]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

# get the location of the lowest TotalPayBenefits ,the reason that the output of the code give an error , that the number of index is similar to the id column,,so it can't give an output due toit can't diffrentiate between index and the id column (conflict is happened)

In [18]:

sal.iloc[148653].min()

TypeError: '<=' not supported between instances of 'numpy.ndarray' and 'str'

# the average (mean) BasePay of all employees per year(2011-2014)

In [39]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

# the unique job titles are there

In [19]:
sal['JobTitle'].nunique()

2159

# the top 5 most common jobs

In [130]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# Job Titles were represented by only one person in 2013(e.g. Job Titles with only one occurence in 2013?)

In [136]:
#Job Titles were represented by only one person in 2013
#(sal[sal['Year']==2013]['JobTitle'].count(value==1)).sum()
(sal[sal['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [20]:
# people have the word Chief in their job title , will make a function that check if the word chief appeared
def chief(jobtitle):
    if 'chief' in jobtitle:
        return True
    else:
        return False
chief('chief')

True

In [22]:
sum(sal['JobTitle'].apply(lambda x: chief(x)))

0

# Is there a correlation between length of the Job Title string and Salary

# make 'titlelength' equal to the length of 'JobTitle'

In [25]:
sal['titlelength']=len('JobTitle')

In [26]:
sal['titlelength']

0         8
1         8
2         8
3         8
4         8
5         8
6         8
7         8
8         8
9         8
10        8
11        8
12        8
13        8
14        8
15        8
16        8
17        8
18        8
19        8
20        8
21        8
22        8
23        8
24        8
25        8
26        8
27        8
28        8
29        8
         ..
148624    8
148625    8
148626    8
148627    8
148628    8
148629    8
148630    8
148631    8
148632    8
148633    8
148634    8
148635    8
148636    8
148637    8
148638    8
148639    8
148640    8
148641    8
148642    8
148643    8
148644    8
148645    8
148646    8
148647    8
148648    8
148649    8
148650    8
148651    8
148652    8
148653    8
Name: titlelength, Length: 148654, dtype: int64

In [27]:
sal[['titlelength','TotalPayBenefits']].corr() # No correlation.

                  titlelength  TotalPayBenefits
titlelength               NaN               NaN
TotalPayBenefits          NaN               1.0

# Great Job!